@keyframes animation_entree {
    0% {
        margin-top: 35vh;
        opacity: 0;
    }
    50% {
        margin-top: 35vh;
        opacity: 1;
    }
    100% {
        margin-top: 0vh;
    }
}

@keyframes apparition_entree {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: min(100vw, 100vh);
    background-color: rgb(37, 34, 33);
    color: rgb( 213, 209, 208 );
    margin: auto;
    text-align: center;
    overflow-x: hidden;
}

#titre_page {
    line-height: 15vh;
    width: min(70vw, 70vh);
    font-size: xx-large;
    margin: auto;
    border-top: thick double white;
    border-bottom: thick double white;
    font-family: 'Josefin Slab', serif;
}

#second_titre {
    margin-bottom: 7vh;
    font-size: x-large;
    font-family: 'Satisfy', cursive;
    color: rgb(110, 108, 107);
}



.ligne_commande {
    margin: auto;
    width: min(90vw, 90vh);
    display: table;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.colis_infos {
    display:table-cell;
}

.cagette_infos {
    display:table-cell;
}

.palette_infos {
    display:table-cell;
    vertical-align: bottom;
}


#inserer_valider {
    margin-top: 4vh;
}


.btn_ajouter {
    background-color: white;
    border-color: white;
    color: black;
    border-radius: 10px;
    height: 10vh;
    width: min(40vw, 40vh);
    font-size: large;
}
.btn_valider {
    background-color: green;
    border-color: green;
    color: white;
    border-radius: 10px;
    height: 10vh;
    width: min(20vw, 20vh);
    font-size: large;
}







#ajouter_commande {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: min(100vw, 100vh);
    background-color: rgb(37, 34, 33);
}

#ac_titre_ajout_commande {
    line-height: 15vh;
    margin: auto auto 5vh;
    font-family: 'Josefin Slab', serif;
}

#ac_bouton_retour_arriere {
    position: absolute;
    top: 0;
    left: 0;
}



#ac_main_ajout_commande {
    margin-bottom: 7vh;
}


.input_colis {
    width: min(20vw, 20vh);
    text-align: center;
    height: 5vh;
    border-radius: 10px;
    font-size: large;
}

.input_cagette {
    width: min(40vw, 40vh);
    text-align: center;
    height: 5vh;
    border-radius: 10px;
    font-size: large;
}

#ac_input_colis {
    width: min(60vw, 60vh);
    height: 15vh;
    text-align: center;
    font-size: xx-large;
    margin-top: 15vh;
    position: relative;
    left: 0;
}

#ac_bouton_valider {
    width: min(20vw, 20vh);
    height: 15vh;
    font-size: large;
    text-align: center;
    position: absolute;
    right: 0;
    top: 35vh;
    background-color: green;
    border-color: green;
    color: white;
    border-radius: 10px;
}





.ac_LC_colis {
    font-size: x-large;
    display: flex;
    flex-direction: row;
    width: min(100vw, 100vh);
    line-height: 13vh;
    align-items: center;
}


.ac_case_colis {
    width: min(5vw, 5vh);
    display: none;
}
.ac_label_colis {
    width: min(95vw, 95vh);
    padding-left: min(3vw, 3vh);
    text-align: center;
}


.ac_bouton_palette {
    display: block;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 10vh;
    height: 10vh;
    border-radius: 10px;
    color: white;
}

.ac_nb_palettes {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    width: min(15vw, 15vh);
    height: 5vh;
    color: white;
}


#bouton_parametre {
    background-image: url("../ressources/settings.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
}

#parametres {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: min(100vw, 100vh);
    background-color: rgb(37, 34, 33);
}

#param_bouton_retour_arriere {
    position: absolute;
    top: 0;
    left: 0;
}

#param_liste_colis {
    list-style: none;
}

.param_colis {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid white;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.param_titre {
    margin: auto;
    margin-bottom: 10px;
    position: relative;
}

.modif_titre {
    position: absolute;
    right: -40px;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    background-size: 15px 15px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.suppr_titre {
    position: absolute;
    right: -80px;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    background-size: 15px 15px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.param_infos {
    display: flex;
    flex-direction: row;
}

.choix_couleur {
    margin: auto;
    width: 30px;
    height: 30px;
}

.param_donnees {
    width: min(65vw, 65vh);
    display: flex;
    flex-direction: column;
}

.param_donnee {
    display: flex;
    flex-direction: row;
    height: 5vh;
}

.label {
    flex: 2;
    text-align: right;
    padding-right: 10px;
}

.qte {
    flex: 1;
    text-align: center;
    width: min(20vw, 20vh);
    border-radius: 5px;
    font-size: large;
}

.unite {
    flex: 1;
    text-align: left;
    padding-left: 10px;
}


.param_palette {
    width: min(30vw, 30vh);
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.ligne_param_palette {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    width: 60px;
    height: 20px;
}


.m_unite {
    border: 1px solid black;
}






#label_change {
    width: min(100vw,100vh);
    height: 7vh;
    text-align: center;
    font-size: xx-large;
    margin-top: 7vh; 
}

#input_change {
    width: min(50vw, 50vh);
    height: 12vh;
    text-align: center;
    font-size: xx-large;
    border-radius: 10px;
}

#param_valide_change {
    width: min(20vw, 20vh);
    height: 12vh;
    font-size: large;
    text-align: center;
    position: absolute;
    right: 0;
    top: 30vh;
    background-color: green;
    border-color: green;
    color: white;
    border-radius: 10px;
}

#titre_change {
    height: 15vh;
    line-height: 15vh;
    font-size: xx-large;
}

#param_couleur_change {
    width: 12vh;
    height: 12vh;
    text-align: center;
    font-size: xx-large;
}

#ajouter_colis {
    margin: auto;
}


#header_param {
    display: flex;
    flex-direction: row;
    width: min(50vw, 50vh);
    margin: auto;
}
#header_param>button {
    flex: 1;
}

#valider_param {
    background-color: grey;
    border-color: grey;
}


.back_bouton {
    background-image: url("../ressources/back_arrow.png");
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
}


#bouton_erase {
    background-image: url("../ressources/erase.png");
    background-size: 40px 40px;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
}

#annule_erase {
    position: absolute;
    top: 50px;
    left: 0;
    visibility: hidden;
}

#param_hauteurs {
    margin-top: 5vh;
}

#param_hauteurs>div {
    display: flex;
    flex-direction: row;
    width: min(100vw, 100vh);
}

.label_hauteur {
    text-align: right;
    height: 5vh;
    line-height: 5vh;
    width: min(50vw, 50vh);

}

.data_hauteur {
    text-align: center;
    width: min(20vw, 20vh);
    height: 5vh;
    border-radius: 10px;
    margin-left: 4px;
    font-size: large;
    
}

