@keyframes animation_entree {
    0% {
        margin-top: 35vh;
        opacity: 0;
    }
    50% {
        margin-top: 35vh;
        opacity: 1;
    }
    100% {
        margin-top: 0vh;
    }
}

@keyframes apparition_entree {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: min(100vw, 100vh);
    background-color: rgb(37, 34, 33);
    color: rgb( 213, 209, 208 );
    margin: auto;
    text-align: center;
}

#titre_page {
    line-height: 7vh;
    width: min(70vw, 70vh);
    font-size: x-large;
    margin: auto auto 5vh;
    border-top: thick double white;
    border-bottom: thick double white;
    animation-duration: 2s;
    animation-name: animation_entree;
}


#main {
    animation-duration: 4s;
    animation-name: apparition_entree;
}

.ligne_commande {
    margin: auto;
    width: min(90vw, 90vh);
    display: table;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.colis_infos {
    display:table-cell;
}

.cagette_infos {
    display:table-cell;
}

.palette_infos {
    display:table-cell;
    vertical-align: bottom;
}


#inserer_valider {
    margin-top: 4vh;
}







#ajouter_commande {
    display: none;
    position: absolute;
    top: 0;
    height: 100vh;
    width: min(100vw, 100vh);
    left: calc(100vw/2 - calc(min(100vw, 100vh)/2));
    background-color: red;
}

#ac_titre_ajout_commande {
    line-height: 7vh;
    margin: auto auto 5vh;
}

#ac_bouton_retour_arriere {
    position: absolute;
    top: 0;
    left: 0;
}



#ac_main_ajout_commande {
    margin-bottom: 7vh;
}



#ac_input_colis {
    width: min(50vw, 50vh);
    height: 7vh;
    text-align: center;
    font-size: xx-large;
}





.ac_LC_colis {
    font-size: x-large;
    display: flex;
    flex-direction: row;
    width: min(65vw, 65vh);
    margin-right: 0;
    margin-left: auto;
    line-height: 7vh;
    align-items: center;
}

.ac_case_colis {
    width: min(5vw, 5vh);
}
.ac_label_colis {
    width: min(60vw, 60vh);
    text-align: left;
    padding-left: min(3vw, 3vh);
}

